.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 12px;
  padding: 42px;

  @media screen and (max-width: 752px) {
    padding: 12px;
  }

  .about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 22px;
    width: 80%;
    padding-top: 24px;

    .about-lawyer {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: flex-end;
      direction: rtl;

      @media screen and (max-width: 1150px) {
        flex-direction: column-reverse;
        width: 100%;
      }

      p {
        max-width: 500px;

      }

      .lawyer-name {
        font-size: 62px;
        color: #747264;
        @media screen and (max-width: 1150px) {
          font-size: 42px;
        }

      }

      &:nth-child(even) {
        @media screen and (max-width: 1150px) {
          flex-direction: column-reverse;
        }

      }
    }
  }
}