.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 12px;
  padding: 42px;

  .about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 22px;
    max-width: 1200px;
    padding-top: 24px;

    .about-lawyer {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: flex-end;
      direction: rtl;

      @media screen and (max-width: 1150px) {
        flex-direction: column-reverse;
        width: 100%;
      }

      p {
        max-width: 500px;

      }

      .lawyer-name {
        font-size: 62px;
        color: #747264;
      }

      &:nth-child(even) {
        //flex-direction: row-reverse;
        //align-self: flex-end;

        @media screen and (max-width: 1150px) {
          flex-direction: column-reverse;
        }

      }
    }
  }
}