.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 42px 0;
  background: #FAFAFA;
  border-top: 1px solid #747264;
  min-height: 600px;

  .services-items-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 42px;
    padding-top: 42px;
    max-width: 800px;

    .service-item {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 12px;
      @media screen and (max-width: 1150px) {
        align-items: flex-start;
      }

      .service-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 42px;
        font-size: 18px;

        img {
          width: 22px;
        }
      }

      .service-description {
        max-width: 200px;

        span {

        }

      }
    }
  }
}