.client-recommend {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 42px 12px;

  .client-recommend-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 52px;
    gap: 12px;

    .client-recommend-item {
      display: flex;
      justify-content: center;
      padding: 22px;
      position: relative;
      border-radius: 12px;
      max-width: 400px;
      transition: 0.2s ease-in-out;

      &:before {
        position: absolute;
        content: url("../../assets/icons/comment-bubble.svg");
        width: 22px;
        height: 22px;
        top: 0;
        right: 6px;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
      }

      .client-recommendation {

      }
    }
  }
}