$transition-speed: 1.5s;
$dot-size: 15px;
$dot-background: #bbb;
$dot-active-background: #717171;

.clients-letters-slideshow {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 42px 12px;

  .slideshow-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    max-width: 600px; // Adjust based on your layout
    margin: auto;
    overflow: hidden;
    padding: 42px 0;

    @media screen and (max-width: 752px) {
      min-height: auto;
    }


    .slide {
      display: none; // Hide slides by default
      opacity: 0; // Start with slides fully transparent
      transition: opacity $transition-speed ease-in-out; // Smooth transition for the fade effect



      &.show {
        display: block; // Show the current slide
        opacity: 1; // Make the current slide fully visible
      }

      &:not(.show) {
        opacity: 0; // Ensure fade effect works only when a slide becomes active
      }
    }

    .article-content {
      padding: 20px;
      min-height: 478px;

      .article-title {
        display: flex;
        justify-content: flex-end;
        font-size: 14px;
        color: #717171;
      }

      .article-p {
        font-size: 20px;
        color: #717171;
      }
    }
    .arrow-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .arrow {
        @media screen and (max-width: 752px) {
          img {
            width: 22px;
            &:hover {
              cursor: pointer;
              transform: unset;
            }
        
          }
        }
        img {
          width: 42px;
          transition: 0.2s ease-in-out;
          &:hover {
            transform: scale(1.4);
            cursor: pointer;
          }
        }
      }
    }
    .dot-container {
      text-align: center;
      padding: 20px 0;
     
      .dot {
        cursor: pointer;
        height: $dot-size;
        width: $dot-size;
        margin: 0 5px;
        background-color: #AAB3C9;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;

        &:hover,
        &.active {
          background-color: #FD922A;
        }
      }
    }
  }
}
