.app {
  background: #F3F3F3;
  min-height: 100vh;
  overflow: hidden;

  &.app-no-scroll {
    overflow: hidden;
  }
  .progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999999;
    height: 10px;
    background: #EDB868;
    transform-origin: 0%;
  }
}


// app-black: #1A1A1A
// app-grey: #626670
// app-grey-ish: #AAB3C9
// brown : #A28970
// app-gold: #FD922A
// app-gold-strong: #E79F59



// darkBrown text: #3C3633
// link: #A7D8E8
// goldLogo: #EDB868